---

---

<section id="about" class="w-full py-12 border-t border-[#ffffff10]">
  <div class="max-w-5xl mx-auto">
    <h2 class="text-lg text-[var(--sec)] mb-2 shiny-sec">About me</h2>
    <h3 class="text-4xl md:text-5xl font-medium text-[var(--white)] mb-6">
      Who am I?
    </h3>
    <div class="grid grid-cols-1 lg:grid-cols-2 gap-8">
      <div class="text-[var(--white-icon)]">
        <p class="mb-4 text-sm sm:text-base">
          I'm a developer with a love for creating engaging and user-friendly
          web applications. My journey began in college while studying
          Multimedia, where I discovered my passion for coding. Since then, I've
          been dedicated to honing my skills.
        </p>
        <p class="mb-4 text-sm sm:text-base">
          With a strong foundation in HTML, CSS, and JavaScript, I enjoy
          building responsive and accessible websites. I graduated from a
          Fullstack Development Bootcamp where I deepened my skills and also
          acquired new ones.
        </p>
      </div>
      <div class="flex justify-center items-center">
        <img
          src="/favicon.png"
          alt="Franck He Cai"
          class="size-auto rounded-lg shadow-lg"
        />
      </div>
    </div>
  </div>
</section>
